---
import { getSession } from '../../server'
import { type AstroAuthConfig } from '../config';

interface Props {
  authConfig?: AstroAuthConfig
}

const { authConfig } = Astro.props as Props

let session = await getSession(Astro.request, authConfig)
---

<div>
  <Fragment set:html={Astro.slots.render('default', [session])} />
</div>
